@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    font-family:'Noto';
}

.test {
    height: 44px;
    width: 44px;
    margin-right: 10px;
    border-radius: 50%;
    background: rgb(255,143,189);
    background: linear-gradient(90deg, rgba(255,143,189,1) 0%, rgba(94,252,231,1) 100%);
}